
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <title>CarRental</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h3>cars</h3>
    <form action="" method="post" th:action="@{/save}" th:object="${car}">
        <input type="hidden" th:field="*{vehicle.id}"/>
        <input type="text" placeholder="brand" th:field="*{vehicle.brand}"  required>
        <input type="text" placeholder="model" th:field="*{vehicle.model}"  required>
        <input type="number" th:field="*{kilometers}"  placeholder="km"   required>
        <input type="text"  th:field="*{vehicle.color}"      placeholder="color"  required>
        <input type="number"  th:field="*{price}"      placeholder="price"  required>
        <input type="text"  th:field="*{type}"       placeholder="type"   required>
        <input type="text"  th:field="*{fuel}"       placeholder="fuel"   required>
        <!-- <input type="text"  th:field="*{rented}"       placeholder="Vuokrattu"  > -->
        <label for="">Vuokrattu</label>
<select th:field="*{rented}">
    <option value="true">Kyllä</option>
    <option value="false">Ei</option>
</select>

<br>
<br>
<button style="height: 100px; width: 100%; background-color: rgba(3, 236, 3, 0.507); border-radius: 10px; color: rgb(255, 0, 0); font-size: larger; ">LISÄÄ AUTO</button>
    </form>
    <br>
    <a class="button" th:href="@{/cars}" ><button style="background-color: rgb(0, 116, 224); color: white; height: 100px; width: 100%; font-size: larger;">Takaisin etusivulle</button></a>
    
</body>
</html>