<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <link
      type="text/css"
      rel="stylesheet"
      href="/css/css/bootstrap.min.css"
      th:href="@{/css/css/bootstrap.min.css}"
    />
    <title>CarRental</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <h3>cars</h3>
    <form action="" method="post" th:action="@{/save}" th:object="${car}">
      <input type="hidden" th:field="*{vehicle.id}" />
      <input
        th:text="brand"
        type="text"
        th:field="*{vehicle.brand}"
        placeholder="brand"
        required
      />
      <span
        th:if="${#fields.hasErrors('vehicle.brand')}"
        th:errors="*{vehicle.brand}"
        >Error</span
      >
      <br />

      <input
        th:text="model "
        type="text"
        placeholder="model"
        th:field="*{vehicle.model}"
        required
      />
      <span
        th:if="${#fields.hasErrors('vehicle.model')}"
        th:errors="*{vehicle.model}"
        >Error</span
      >
      <br />

      <input
        th:text="km "
        type="number"
        th:field="*{kilometers}"
        placeholder="km"
        required
      />
      <span th:if="${#fields.hasErrors('kilometers')}" th:errors="*{kilometers}"
        >Error</span
      >
      <br />

      <input
        th:text="color "
        type="text"
        th:field="*{vehicle.color}"
        placeholder="color"
        required
      />
      <span
        th:if="${#fields.hasErrors('vehicle.color')}"
        th:errors="*{vehicle.color}"
        >Error</span
      >
      <br />

      <input
        th:text="price "
        type="number"
        th:field="*{price}"
        placeholder="price"
        required
      />
      <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}"
        >Error</span
      >
      <br />

      <input
        type="text"
        th:field="*{type}"
        placeholder="type"
        th:text="Car"
        required
      />

      <span th:if="${#fields.hasErrors('type')}" th:errors="*{type}"
        >Error</span
      >
      <br />
      <input
        th:text="fuel"
        type="text"
        th:field="*{fuel}"
        placeholder="fuel"
        required
      />
      <span th:if="${#fields.hasErrors('fuel')}" th:errors="*{fuel}">Error</span
      ><br />
      <label for="">Vuokrattu</label>
      <select th:field="*{rented}">
        <option value="true">Kyllä</option>
        <option value="false">Ei</option>
      </select>

      <br />
      <br />
      <button class="btn btn-success btn-lg btn-block">LISÄÄ AUTO</button>
    </form>
    <br />
    <a th:href="@{/vehicles}"
      ><button class="btn btn-primary btn-lg btn-block">
        ALL (BIKES & CARS)
      </button></a
    >
  </body>
</html>
