
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <title>CarRental</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h3>autot värin perusteella</h3>
    
    <table>
        <br><br>
        <thead>
            <tr>
                <th>Merkki</th>
                <th>Malli</th>
                <th>Väri</th>
                <th>kilometers</th>
                <th>tyyppi</th>
                <th>hinta</th>
                <th>polttoaine</th>
                <th>vuokrattu</th>
            </tr>
        </thead>
        <tbody>

            
            <tr th:each="bike: ${bikesbycolor}">
                <td th:text="${bike.vehicle.brand}"></td>
                <td th:text="${bike.vehicle.model}"></td>
                <td th:text="${bike.vehicle.color}"></td>
                <td th:text="${bike.kilometers}"></td>
                <td th:text="${bike.type}"></td>
                <td th:text="${bike.price} +'€'"></td>
                <td th:text="${bike.fuel}"></td>
                <td th:text="${bike.rented} ? 'Kyllä' : 'Ei'"></td>
            </tr>
        </tbody>
            
    </table> 
    
    <br>
    <br>
    <a th:href="@{/addcar}">lisää auto</a>
    <br><br>
    <a th:href="@{/cars}">Carlist </a>

</body>
</html>