<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <link
      type="text/css"
      rel="stylesheet"
      href="/css/css/bootstrap.min.css"
      th:href="@{/css/css/bootstrap.min.css}"
      style="margin: 0; padding: 0; height: 100%"
    />
    <title>Rental</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body
    style="
      background-color: rgb(71, 71, 71);
      color: rgb(255, 255, 255);
      font-weight: bold;
      background-image: url('https://wallpapercave.com/wp/wp3826726.jpg');
      background-repeat: no-repeat;
      background-size: cover;
    "
  >
    <div>
      <form
        sec:authorize="!hasRole('ROLE_ANONYMOUS')"
        th:action="@{/logout}"
        method="post"
      >
        <button type="submit" value="Sign Out" class="btn btn-danger btn-block">
          Sign Out
        </button>
      </form>
      <div sec:authorize="hasRole('ROLE_ANONYMOUS')">
        <form th:action="@{/login}" method="post">
          <button
            type="submit"
            value="Sign In"
            class="btn btn-success btn-block"
          >
            Sign In
          </button>
        </form>
      </div>
      <br />
      <div
        sec:authorize="hasRole('ADMIN')"
        style="
          text-align: center;
          background-color: rgba(66, 66, 66, 0.418);
          width: fit-content;
          margin: 0 auto;
          align-items: center;
          border-radius: 10px;
        "
      >
        <p>This text is only visible to users with the role of "ADMIN".</p>
        <a th:href="@{/admin/cars}" class="btn btn-primary">CARS (ADMIN)</a>
        <a th:href="@{/admin/bikes}" class="btn btn-primary"
          >MOTORCYCLES (ADMIN)</a
        >
      </div>
      <br />
      <div class="container">
        <a th:href="@{/}"
          ><button class="btn btn-primary btn-lg btn-block">HOME</button></a
        >
        <br />
        <a th:href="@{/cars}"
          ><button class="btn btn-primary btn-lg btn-block">CARS</button></a
        >
      </div>
      <h3 style="text-align: center; margin-top: 50px">RENT MOTORCYCLE</h3>
      <table class="table table-striped">
        <tr style="background-color: rgba(0, 0, 0, 0.705)">
          <th></th>
          <th>Brand</th>
          <th>Model</th>
          <th>Kilometers</th>
          <th>Color</th>
          <th>Vehicle</th>
          <th>Fuel</th>
          <th>Price</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr
          th:each="bike : ${bikes}"
          style="background-color: rgba(61, 61, 61, 0.877); color: white"
        >
          <td></td>
          <td style="padding: 7px" th:text="${bike.vehicle.brand}"></td>
          <td style="padding: 7px" th:text="${bike.vehicle.model}"></td>
          <td style="padding: 7px" th:text="${bike.kilometers} + '`km'  "></td>
          <td style="padding: 7px" th:text="${bike.vehicle.color}"></td>
          <td style="padding: 7px" th:text="${bike.type}"></td>
          <td style="padding: 7px" th:text="${bike.fuel}"></td>
          <td style="padding: 7px" th:text="${bike.price} +' €'"></td>

          <form
            sec:authorize="hasRole('USER')"
            th:action="@{/rentbike/{id}(id=${bike.bikeId})}"
            method="post"
          >
            <td>
              <button type="submit" class="btn btn-warning">VUOKRAA</button>
            </td>
          </form>
          <form sec:authorize="hasRole('ADMIN')">
            <td>
              <button type="text" class="btn btn-warning">Login as USER</button>
            </td>
          </form>
          <form sec:authorize="hasRole('ROLE_ANONYMOUS')" th:action="@{/login}">
            <td>
              <button type="text" class="btn btn-warning">Login to Rent</button>
            </td>
            <td></td>
          </form>
          <td></td>
          <td></td>
        </tr>
      </table>
      <div
        style="text-align: center; background-color: rgba(46, 46, 46, 0.808)"
      >
        <label for="">Hae mopoja värin perusteella </label>
        <select
          name=""
          id=""
          onchange="window.location.href = this.value;"
          style="margin: 10px"
        >
          <option
            th:each="color : ${colors}"
            th:value="${'/bikebycolor/' + color}"
            th:text="${color}"
          ></option>
        </select>
        <label for="">Hae mopoja merkin perusteella </label>
        <select
          name=""
          id=""
          onchange="window.location.href = this.value;"
          style="margin: 10px"
        >
          <option
            th:each="merkki : ${brandit}"
            th:value="${'/bikebybrand/' + merkki}"
            th:text="${merkki}"
          ></option>
        </select>
        <label for="">Hae vuokrattu/vuokraamaton </label>
        <select
          name=""
          id=""
          onchange="window.location.href = this.value;"
          style="margin: 10px"
        >
          <option value="">Select...</option>
          <option value="/brented">vuokrattu</option>
          <option value="/bnotrented">vuokraamaton</option>
        </select>
        <label for="">Vuokrattujen merkkien mukaan </label>
        <select
          name=""
          id=""
          onchange="window.location.href = this.value;"
          style="margin: 10px"
        >
          <option
            th:each="merkki : ${rentedbrandit}"
            th:value="${'/brented/' + merkki}"
            th:text="${merkki}"
          ></option>
        </select>

        <label for="">Hae vapaana olevien merkkin mukaan </label>
        <select
          name=""
          id=""
          onchange="window.location.href = this.value;"
          style="margin: 10px"
        >
          <option
            th:each="merkki : ${notrentedbrandit}"
            th:value="${'/bnotrented/' + merkki}"
            th:text="${merkki}"
          ></option>
        </select>
      </div>
      <br />
      <br />
    </div>
  </body>
</html>
