<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <link
      type="text/css"
      rel="stylesheet"
      href="/css/css/bootstrap.min.css"
      th:href="@{/css/css/bootstrap.min.css}"
    />
    <title>CarRental</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body
    style="background-color: rgb(71, 71, 71); color: white; font-weight: bold"
  >
    <form th:action="@{/logout}" method="post">
      <button type="submit" value="Sign Out" class="btn btn-danger btn-block">
        Sign Out
      </button>
    </form>
    <br />
    <h1>Hello <span sec:authentication="name"></span>!</h1>
    <div
      sec:authorize="hasRole('ADMIN')"
      style="
        text-align: center;
        background-color: rgba(170, 170, 170, 0.637);
        width: fit-content;
        margin: 0 auto;
        align-items: center;
        border-radius: 10px;
      "
    >
      <p>This text is only visible to users with the role of "ADMIN".</p>
      <a th:href="@{/admin/cars}" class="btn btn-primary">CARS (ADMIN)</a>
    </div>
    <br />
    <br />
    <div class="container">
      <a th:href="@{/}"
        ><button class="btn btn-primary btn-lg btn-block">HOME</button></a
      >
      <br />
      <a th:href="@{/cars}"
        ><button class="btn btn-primary btn-lg btn-block">CARS</button></a
      >
    </div>
    <h3 style="text-align: center; margin-top: 50px">All MOTORCYCLES</h3>
    <table class="table table-striped table-dark">
      <br />
      <a th:href="@{/addbike}"
        ><button class="btn btn-success btn-lg btn-block">
          ADD MOTORCYCLES
        </button></a
      >
      <tr>
        <th></th>
        <th>id</th>
        <th>Brand</th>
        <th>Model</th>
        <th>Kilometers</th>
        <th>Color</th>
        <th>Vehicle</th>
        <th>Fuel</th>
        <th>Price</th>
        <th>Rented</th>
        <th></th>
        <th><a href="/resetallbikes">reset kaikki (Vuokrattu -> vapaa)</a></th>
        <th></th>
      </tr>
      <tr th:each="bike : ${bikes}">
        <td></td>
        <td style="padding: 7px" th:text="${bike.vehicle.id}"></td>
        <td style="padding: 7px" th:text="${bike.vehicle.brand}"></td>
        <td style="padding: 7px" th:text="${bike.vehicle.model}"></td>
        <td style="padding: 7px" th:text="${bike.kilometers} + '`km'  "></td>
        <td style="padding: 7px" th:text="${bike.vehicle.color}"></td>
        <td style="padding: 7px" th:text="${bike.type}"></td>
        <td style="padding: 7px" th:text="${bike.fuel}"></td>
        <td style="padding: 7px" th:text="${bike.price} +' €'"></td>
        <td style="padding: 7px" th:text="${bike.rented} ? 'Yes' : 'No'"></td>
        <form
          th:action="@{/adminrentbike/{id}(id=${bike.bikeId})}"
          method="post"
        >
          <td>
            <button type="submit" class="btn btn-warning">RENT BIKE</button>
          </td>
        </form>
        <td>
          <a th:href="@{/editbike/{id}(id=${bike.bikeId})}"
            ><button class="btn btn-primary">EDIT</button>
          </a>
          <a th:href="@{/deletebike/{id}(id=${bike.bikeId})}"
            ><button class="btn btn-danger">DELETE</button>
          </a>
        </td>
      </tr>
    </table>
    <div style="text-align: center">
      <label for="">Hae mopoja värin perusteella </label>
      <select
        name=""
        id=""
        onchange="window.location.href = this.value;"
        style="margin: 10px"
      >
        <option
          th:each="color : ${colors}"
          th:value="${'/bikebycolor/' + color}"
          th:text="${color}"
        ></option>
      </select>
      <label for="">Hae vuokrattu/vuokraamaton </label>
      <select
        name=""
        id=""
        onchange="window.location.href = this.value;"
        style="margin: 10px"
      >
        <option value="">Select...</option>
        <option value="/brented">vuokrattu</option>
        <option value="/bnotrented">vuokraamaton</option>
      </select>
      <label for="">Hae mopoja merkin perusteella </label>
      <select
        name=""
        id=""
        onchange="window.location.href = this.value;"
        style="margin: 10px"
      >
        <option
          th:each="merkki : ${brandit}"
          th:value="${'/bikebybrand/' + merkki}"
          th:text="${merkki}"
        ></option>
      </select>
      <label for="">Vuokrattujen merkkien mukaan </label>
      <select
        name=""
        id=""
        onchange="window.location.href = this.value;"
        style="margin: 10px"
      >
        <option
          th:each="merkki : ${rentedbrandit}"
          th:value="${'/brented/' + merkki}"
          th:text="${merkki}"
        ></option>
      </select>

      <label for="">Hae vapaana olevien merkkin mukaan </label>
      <select
        name=""
        id=""
        onchange="window.location.href = this.value;"
        style="margin: 10px"
      >
        <option
          th:each="merkki : ${notrentedbrandit}"
          th:value="${'/bnotrented/' + merkki}"
          th:text="${merkki}"
        ></option>
      </select>
    </div>

    <br />
    <br />
  </body>
</html>
