<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <link
      type="text/css"
      rel="stylesheet"
      href="/css/css/bootstrap.min.css"
      th:href="@{/css/css/bootstrap.min.css}"
    />
    <title>CarRental</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body
    style="background-color: rgb(71, 71, 71); color: white; font-weight: bold"
  >
    <form th:action="@{/logout}" method="post">
      <button type="submit" value="Sign Out" class="btn btn-danger btn-block">
        Sign Out
      </button>
    </form>
    <br />
    <div class="container">
      <a th:href="@{/}"
        ><button class="btn btn-primary btn-lg btn-block">HOME</button></a
      >
      <br />
      <a th:href="@{/bikes}"
        ><button class="btn btn-primary btn-lg btn-block">BIKES</button></a
      >
      <br />
      <a th:href="@{/cars}"
        ><button class="btn btn-primary btn-lg btn-block">CARS</button></a
      >
      <br />
    </div>
    <br />
    <h3 style="text-align: center">värin perusteella</h3>

    <table class="table table-striped table-dark">
      <br />
      <thead>
        <tr>
          <th>Merkki</th>
          <th>Malli</th>
          <th>Väri</th>
          <th>kilometers</th>
          <th>tyyppi</th>
          <th>hinta</th>
          <th>polttoaine</th>
          <th>vuokrattu</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="color: ${bycolor}">
          <td th:text="${color.vehicle.brand}"></td>
          <td th:text="${color.vehicle.model}"></td>
          <td th:text="${color.vehicle.color}"></td>
          <td th:text="${color.kilometers}"></td>
          <td th:text="${color.type}"></td>
          <td th:text="${color.price} +'€'"></td>
          <td th:text="${color.fuel}"></td>
          <td th:text="${color.rented} ? 'Kyllä' : 'Ei'"></td>
        </tr>
      </tbody>
    </table>

    <br />
  </body>
</html>
