<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <link
      type="text/css"
      rel="stylesheet"
      href="/css/css/bootstrap.min.css"
      th:href="@{/css/css/bootstrap.min.css}"
    />
    <title>CarRental</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <form th:action="@{/logout}" method="post">
    <button type="submit" value="Sign Out" class="btn btn-danger btn-block">
      Sign Out
    </button>
  </form>
  <h1>Hello <span sec:authentication="name"></span>!</h1>
  <div
    sec:authorize="hasRole('ADMIN')"
    style="
      text-align: center;
      background-color: rgba(68, 68, 68, 0.418);
      width: fit-content;
      margin: 0 auto;
      align-items: center;
      border-radius: 10px;
    "
  >
    <p>This text is only visible to users with the role of "ADMIN".</p>
    <a th:href="@{/admin/bikes}" class="btn btn-primary">BIKES (ADMIN)</a>
  </div>
  <body
    style="
      background-color: rgba(151, 151, 151, 0.753);
      color: rgb(0, 0, 0);
      font-weight: bold;
    "
  >
    <br />
    <div class="container">
      <a th:href="@{/}" class="btn btn-primary btn-lg btn-block">HOME</a>
      <br />
      <a th:href="@{/bikes}" class="btn btn-primary btn-lg btn-block">Bikes</a>
    </div>
    <h3 style="text-align: center; margin-top: 50px">All Cars</h3>
    <br />
    <table class="table table-striped">
      <thead class="thead-dark">
        <a th:href="@{/addcar}"
          ><button class="btn btn-success btn-lg btn-block">ADD CAR</button></a
        >
        <tr>
          <th>Merkki</th>
          <th>Malli</th>
          <th>Kilometrit</th>
          <th>Väri</th>
          <th>Polttoaine</th>
          <th>Tyyppi</th>
          <th>Hinta</th>
          <th>Vuokrattu</th>
          <th></th>
          <th>
            <a href="/resetallcars">reset kaikki (Vuokrattu -> vapaa)</a>
          </th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tr th:each="car : ${cars}">
        <td style="padding: 7px" th:text="${car.vehicle.brand}"></td>
        <td style="padding: 7px" th:text="${car.vehicle.model}"></td>
        <td style="padding: 7px" th:text="${car.kilometers} + '`km'  "></td>
        <td style="padding: 7px" th:text="${car.vehicle.color}"></td>
        <td style="padding: 7px" th:text="${car.fuel}"></td>
        <td style="padding: 7px" th:text="${car.type}"></td>
        <td style="padding: 7px" th:text="${car.price} +' €'"></td>
        <td style="padding: 7px" th:text="${car.rented} ? 'Kyllä' : 'Ei'"></td>
        <form th:action="@{/adminsaverent/{id}(id=${car.carId})}" method="post">
          <td>
            <button type="submit" class="btn btn-warning">VUOKRAA</button>
          </td>
        </form>
        <td>
          <a th:href="@{/editcar/{id}(id=${car.carId})}"
            ><button class="btn btn-primary">EDIT</button>
          </a>
          <a th:href="@{/deletecar/{id}(id=${car.carId})}"
            ><button class="btn btn-danger">DELETE</button>
          </a>
        </td>
      </tr>
    </table>
    <div style="text-align: center">
      <label for="">Hae autoja värin perusteella </label>
      <select
        name=""
        id=""
        onchange="window.location.href = this.value;"
        style="margin: 10px"
      >
        <option
          th:each="color : ${colorlist}"
          th:value="${'/bycolor/' + color}"
          th:text="${color}"
        ></option>
      </select>

      <label for="">Hae autoja merkin perusteella </label>
      <select
        name=""
        id=""
        onchange="window.location.href = this.value;"
        style="margin: 10px"
      >
        <option
          th:each="merkki : ${brandit}"
          th:value="${'/info/' + merkki}"
          th:text="${merkki}"
        ></option>
      </select>

      <label for="">Hae vuokrattu/vuokraamaton </label>
      <select
        name=""
        id=""
        onchange="window.location.href = this.value;"
        style="margin: 10px"
      >
        <option value="">Select...</option>
        <option value="/rented">vuokrattu</option>
        <option value="/notrented">vuokraamaton</option>
      </select>
      <label for="">Vuokratut autot merkin mukaan </label>
      <select
        name=""
        id=""
        onchange="window.location.href = this.value;"
        style="margin: 10px"
      >
        <option
          th:each="merkki : ${rentedbrandit}"
          th:value="${'/rented/' + merkki}"
          th:text="${merkki}"
        ></option>
      </select>

      <label for="">Hae vapaana olevat autot merkin mukaan </label>
      <select
        name=""
        id=""
        onchange="window.location.href = this.value;"
        style="margin: 10px"
      >
        <option
          th:each="merkki : ${notrentedbrandit}"
          th:value="${'/notrented/' + merkki}"
          th:text="${merkki}"
        ></option>
      </select>
    </div>
    <br />
    <br /><br />
  </body>
</html>
