
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <title>CarRental</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h3>autot merkkien perusteella</h3>
    <table>
        <thead>
            <tr>
                <th>Merkki</th>
                <th>Malli</th>
                <th>Väri</th>
                <th>kilometers</th>
                <th>tyyppi</th>
                <th>hinta</th>
                <th>polttoaine</th>
                <th>vuokrattu</th>
            </tr>
        </thead>
        <tbody>

            
            <tr th:each="car: ${autotiedot}">
                <td th:text="${car.vehicle.brand}"></td>
    <td th:text="${car.vehicle.model}"></td>
    <td th:text="${car.vehicle.color}"></td>
                <td th:text="${car.kilometers}"></td>
                <td th:text="${car.type}"></td>
                <td th:text="${car.price} +'€'"></td>
                <td th:text="${car.fuel}"></td>
                <td th:text="${car.rented} ? 'Kyllä' : 'Ei'"></td>
                <!-- Uncomment the following line if needed -->
                <!-- <td> <a th:href="@{/editcar/{id}(id=${car.carId})}">EDIT </a> </td> -->
            </tr>
        </tbody>
        
           
            
    </table> 
    <br>
    <br>
    <a th:href="@{/addcar}">lisää auto</a>
    <br><br>
    <a th:href="@{/cars}">Carlist </a>

</body>
</html>