
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <title>CarRental</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h3>cars</h3>
    <table>

        <tr>
            <th>Merkki</th>
            <th>Malli</th>
            <th>Kilometrit</th>
            <th>Väri</th>
            <th>Tyyppi</th>
            <th>Polttoaine</th>
            <th>Hinta</th>
            <th>Vuokrattu</th>
        </tr>
        <tr th:each="rented : ${notrentedlist}">
            <td th:text="${rented.vehicle.brand}"></td>
            <td th:text="${rented.vehicle.model}"></td>
            <td th:text="${rented.kilometers}"></td>
            <td th:text="${rented.vehicle.color}"></td>
            <td th:text="${rented.type}"></td>
            <td th:text="${rented.fuel}"></td>
            <td th:text="${rented.price} +' €'"></td>
            <td th:text="${rented.rented} ? 'Kyllä' : 'Ei'"></td>
            
        </tr>
    </table> 
    <br>
    <br>
    <br><br>
    <a th:href="@{/vehicles}">vehicles</a>
    <br><br>
    <a th:href="@{/rented}">rented Cars</a>
    <br><br>
    <a th:href="@{/cars}">Carlist </a>

</body>
</html>