<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <link
      type="text/css"
      rel="stylesheet"
      href="/css/css/bootstrap.min.css"
      th:href="@{/css/css/bootstrap.min.css}"
    />
    <title>CarRental</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <div class="container">
    <a th:href="@{/vehicles}"
      ><button class="btn btn-primary btn-lg btn-block">
        ALL (BIKES & CARS)
      </button></a
    >
    <br />
    <a th:href="@{/cars}"
      ><button class="btn btn-primary btn-lg btn-block">CARS</button></a
    >
    <br />
    <a th:href="@{/vehicles}" class="btn btn-warning btn-lg btn-block"
      >EDELLINEN SIVU
    </a>
    <br />
  </div>
  <body>
    <h3>not Rented by brand</h3>
    <table class="table table-striped table-dark">
      <tr>
        <th>Merkki</th>
        <th>Malli</th>
        <th>Kilometrit</th>
        <th>Väri</th>
        <th>Tyyppi</th>
        <th>Polttoaine</th>
        <th>Hinta</th>
        <th>Vuokrattu</th>
      </tr>
      <tr th:each="notrented : ${notrentedlist}">
        <td th:text="${notrented.vehicle.brand}"></td>
        <td th:text="${notrented.vehicle.model}"></td>
        <td th:text="${notrented.kilometers}"></td>
        <td th:text="${notrented.vehicle.color}"></td>
        <td th:text="${notrented.type}"></td>
        <td th:text="${notrented.fuel}"></td>
        <td th:text="${notrented.price} +' €'"></td>
        <td th:text="${notrented.rented} ? 'Kyllä' : 'Ei'"></td>
      </tr>
    </table>
    <br />
  </body>
</html>
