<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <link
      type="text/css"
      rel="stylesheet"
      href="/css/css/bootstrap.min.css"
      th:href="@{/css/css/bootstrap.min.css}"
    />
    <title>Rental</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <form th:action="@{/logout}" method="post">
    <button type="submit" value="Sign Out" class="btn btn-danger btn-block">
      Sign Out
    </button>
  </form>
  <br />
  <div class="container">
    <a th:href="@{/}"
      ><button class="btn btn-primary btn-lg btn-block">HOME</button></a
    >
    <br />
    <a th:href="@{/bikes}"
      ><button class="btn btn-primary btn-lg btn-block">MOTORCYCLES</button></a
    >
    <br />
    <a th:href="@{/cars}"
      ><button class="btn btn-primary btn-lg btn-block">CARS</button></a
    >

    <br />
  </div>
  <body
    style="
      background-color: rgba(151, 151, 151, 0.753);
      color: rgb(0, 0, 0);
      font-weight: bold;
    "
  >
    <h3 th:text="${otsikko}"></h3>
    <h3 th:text="${otsikko2}"></h3>

    <table class="table table-striped table-dark">
      <tr>
        <th>Merkki</th>
        <th>Malli</th>
        <th>Kilometrit</th>
        <th>Väri</th>
        <th>Tyyppi</th>
        <th>Polttoaine</th>
        <th>Hinta</th>
        <th>Vuokrattu</th>
      </tr>
      <tr th:each="rented : ${rentedlist}">
        <td th:text="${rented.vehicle.brand}"></td>
        <td th:text="${rented.vehicle.model}"></td>
        <td th:text="${rented.kilometers}"></td>
        <td th:text="${rented.vehicle.color}"></td>
        <td th:text="${rented.type}"></td>
        <td th:text="${rented.fuel}"></td>
        <td th:text="${rented.price} +' €'"></td>
        <td th:text="${rented.rented} ? 'Kyllä' : 'Ei'"></td>
      </tr>
    </table>
    <br />
    <br />
  </body>
</html>
