<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
  <head>
    <link
      type="text/css"
      rel="stylesheet"
      href="/css/css/bootstrap.min.css"
      th:href="@{/css/css/bootstrap.min.css}"
    />
    <title>CarRental</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>

  <body
    style="
      background-color: rgba(151, 151, 151, 0.753);
      color: rgb(0, 0, 0);
      font-weight: bold;
    "
  >
    <div
      style="
        background-image: url('https://photos.smugmug.com/Wallpapers/i-6zRVZZm/0/ce181b03/X2/HDRshooter-super-ultra-wide-wallpaper-068-X2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
      "
    >
      <form
        sec:authorize="!hasRole('ROLE_ANONYMOUS')"
        th:action="@{/logout}"
        method="post"
      >
        <button type="submit" value="Sign Out" class="btn btn-danger btn-block">
          Sign Out
        </button>
      </form>
      <div sec:authorize="hasRole('ROLE_ANONYMOUS')">
        <form th:action="@{/login}" method="post">
          <button
            type="submit"
            value="Sign In"
            class="btn btn-success btn-block"
          >
            Sign In
          </button>
        </form>

        <h1>Hello <span sec:authentication="name"></span>!</h1>
      </div>
      <br />
      <div
        sec:authorize="hasRole('ADMIN')"
        style="
          text-align: center;
          background-color: rgba(16, 32, 85, 0.418);
          width: fit-content;
          margin: 0 auto;
          align-items: center;
          border-radius: 10px;
        "
      >
        <p>This text is only visible to users with the role of "ADMIN".</p>
        <a th:href="@{/admin/cars}" class="btn btn-primary">CARRS (ADMIN)</a>
        <a th:href="@{/admin/bikes}" class="btn btn-primary">BIKES (ADMIN)</a>
      </div>
      <br />
      <div class="container">
        <br />

        <br />
        <a th:href="@{/bikes}"
          ><button class="btn btn-primary btn-lg btn-block">BIKES</button></a
        >
        <br />
        <a th:href="@{/cars}"
          ><button class="btn btn-primary btn-lg btn-block">CARS</button></a
        >
      </div>
      <h3 style="text-align: center; margin-top: 50px">Vehicles by Brand</h3>
    </div>
    <table class="table table-striped table-dark">
      <tr>
        <th></th>
        <th>Merkki</th>
      </tr>

      <tr th:each="brand : ${brands}">
        <td></td>
        <td th:text="${brand}"></td>
        <td>
          <a th:href="@{/allvehiclesby/{brand}(brand=${brand})}"
            ><button class="btn btn-primary">kakki saman merkkiset</button>
          </a>
          <a th:href="@{/rented/{brand}(brand=${brand})}"
            ><button class="btn btn-primary">Varattu</button>
          </a>
          <a th:href="@{/notrented/{brand}(brand=${brand})}"
            ><button class="btn btn-primary">Vapaat</button>
          </a>
        </td>
      </tr>
    </table>
    <br />
    <br />
  </body>
</html>
