
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <title>CarRental</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h3>vehicles by brand</h3>
    <table>

        <tr>
            <th>Merkki</th>
        </tr>
        <!-- <tr th:each="vehicle : ${vehicles}">
            <td th:text="${vehicle.brand}"></td>
            
            <td> <a th:href="@{/info/{brand}(brand=${vehicle.brand})}">sama merkkiset </a> </td> 
        </tr> -->
        <tr th:each="brand : ${brands}">
            <td th:text="${brand}"></td>
            <td th:text="${model}"></td>
            <td th:text="${color}"></td>
            <td style="height: 10px; width: 150px; background-color: rgb(0, 255, 255); color: white;"> <a th:href="@{/info/{brand}(brand=${brand})}">kakki saman merkkiset </a> </td> 
            <td th:text="'Vuokratut ' + ${brand}+ 'it'" style="height: 10px; width: 10px; background-color: red;"></td> 
            <td th:text="'Vapaat ' + ${brand}+ 'it'" style="height: 10px; width: 10px; background-color: rgb(8, 230, 0);"></td> 
            
            <!--  <td> <a th:href="@{/editcar/{id}(id=${car.carId})}">EDIT </a> </td>  -->
        </tr>
    </table> 
    <br>
    <br>
    <a th:href="@{/cars}">Carlist </a>
    <!-- <a th:href="@{/addcar}">lisää auto</a> -->
</body>
</html>